@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-brown: #c3937e;
  --color-lightBlue: #8ab0ca;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brown: var(--color-brown);
  --color-lightBlue: var(--color-lightBlue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e4e4dc;
    --foreground: #f0f3f6;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}